.landing a h1 {
  color: var(--brand-pink);
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.landing h1 {
  color: var(--brand-yellow);
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  font-family: lores-12-bold-alt-oakland, sans-serif;
  font-weight: 400;
  font-style: normal;
}