@import url("https://use.typekit.net/dqk5aui.css");

:root {
  --brand-purple: #5A1AAF;
  --brand-pink: #fa31f5;
  --brand-light-pink: #f4b6de;
  --brand-green: #09c83e;
  --brand-yellow: #f2db1f;
  --blackish: #010101;
  --box-shape: polygon(0 0, calc(100% - 6vw) 0, calc(100% - 2vw) 4vw, calc(100% - 2vw) calc(4vw + 64px), 100% calc(6vw + 64px), 100% 100%, 4vw 100%, 0% calc(100% - 4vw) );
}

body {
  margin: 0;
}

h1, h2, h3 {
  color: var(--brand-yellow);
  font-family: video, serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 32px;
}

html {
  background-color: var(--blackish);
  color: var(--brand-green);
  font-family: unit-rounded, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box {
  background-color: var(--blackish);
  clip-path: var(--box-shape);
  display:flex;
  justify-content: space-between;
  height: calc(100%);
  left: 2px;
  margin-bottom: -14px;
  position: relative;
  top: 2px;
  width: calc(100% - 4px);
  z-index: 5;
}

.box-content {
  font-size: 16px;
  padding: 64px 4vw 48px;
  width: 100%;
}

.brand-logo {
  margin: 25px 15vw 0;
  width: 70vw;
}

.box-border {
  background-color: var(--brand-pink);
  clip-path: var(--box-shape);
  height: fit-content;
  margin: 50px auto;
  width: 80vw;
  z-index: 5;
}

.box-title {
  background-color: var(--blackish);
  border-color: var(--brand-pink);
  border-style: solid;
  border-top: none;
  border-width: 2px;
  display: block;
  left: 4vw;
  height: fit-content;
  margin-top: 0;
  margin-bottom: -40.5px;
  padding: 0 8px;
  position: relative;
  width: fit-content;
  z-index: 20;
}

.box-footer {
  background-color: transparent;
  bottom: -2px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 76vw;
}

.box-footer-text {
  background-color: var(--blackish);
  border-color: var(--brand-pink);
  border-bottom-color: var(--blackish);
  border-style: solid;
  border-width: 2px;
  max-width: fit-content;
  padding: 0 8px;
  z-index: 20;
  color: var(--brand-yellow);
  font-family: video, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.post {
  margin: 50px auto;
  width: 80vw;
  max-width: 800px;
}

.social-icon, .social-links button {
  height: 48px;
  width: 48px;
}

.post-meta {
  margin-top: 48px;
  max-height: 48px;
}

.footer .notice-container, .post-meta {
  display: flex;
  justify-content: space-between;
}

.footer .notice-container {
  max-width: 90vw;
  margin: 0 auto 1.5rem;
}

.react-share__ShareCount {
  height: 0;
}

.user-links {
  align-items: center;
}

.user-links button {
  margin-right: 8px;
}

.copyright {
  margin: 0;
}


/* the testing grounds */

.neon {

  text-shadow: 0 0 3px #F4BD0A;

  animation: neon 3s ease-in-out infinite;

}

@keyframes neon {

  0%, 100% {

    text-shadow: 0 0 5px #FA1C16, 0 0 7px #FA1C16, 0 0 8px #FA1C16, 0 0 8px #FA1C16, 0 0 .40px #FED128, .50px .50px .10px #806914;

    color: #FFFC00;

  }

  50% {

    text-shadow: 0 0 .50px #800E0B, 0 0 1.50px #800E0B, 0 0 8px #800E0B, 0 0 8px #800E0B, 0 0 .20px #800E0B, .50px .50px .10px #40340A;

    color: #f2db1f;

  }

}

.box {
  background-image: radial-gradient(var(--brand-purple) 1px, transparent 0);
  background-size: 5px 5px;
  background-position: -13px -3px;
}

button {
  cursor: pointer;
}

button.tag {
  background-color: var(--brand-purple);
  border-radius: 0;
  border-width: 2;
  border-top: none;
  border-left: none;
  /* border-bottom: none; */
  border-color: var(--brand-light-pink);
  color: var(--brand-yellow);
  font-family: video-cond, serif;
  font-weight: 400;
  font-style: normal;
  padding: 4px;
  margin-left: 8px;
  clip-path: polygon(0 0, 0 calc(100% - 8px), 8px 100%, 100% 100%, 100% 0);
}
